/*-- scss:defaults --*/
// start by generating the color base-palette 

$theme-black: #4c4c4c;  
$theme-white: white;
$theme-teal: #50847B;
$theme-blue: #76AADB;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

// normal h1 header is 2.5 * the root  
// h2 header is 2 * the root  


$font-size-root: 20px;
$h1-font-size: $font-size-root * 3;

$body-bg: $theme-white;
$body-color: $theme-black;
$link-color: $theme-teal;
$code-color: $theme-teal;

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;

pre, pre.sourceCode {
font-size: 1.175em;
 }

/*-- scss:rules --*/
h1 {
  color: darken($theme-blue, 50%);
  font-size: $h1-font-size;
}

h2, h3, h4 {
  color: $theme-blue;
}
